<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title> Course Results </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewctrl_dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="content">
  <ion-card class="card-css" [ngStyle]="{'background-color':'#FFF'}">

    <ion-list [hidden]="portfolios.foliotypes.length == 0">
      <ion-item *ngFor="let folio of portfolios.foliotypes">

        <!-- <respect-bar [respect]="loadProgress"></respect-bar>
-->
        <h3 class="search-query" [ngStyle]="setborder(folio)">
          <span></span>
          <ion-badge class="query-tag" [style.background-color]="folio.background"
            [ngStyle]="{'color':'#FFF', 'margin-top':'5%'}" margin-left> {{folio.name}}
          </ion-badge>

          <progress-bar [props]="folio"></progress-bar>
          <button class="btn-inc" ion-button clear item-end icon-only (click)="removepercent(folio)">
            <!-- here -->
            <ion-icon name="remove"></ion-icon>
          </button>

          <button class="btn-inc" ion-button clear margin-right item-end icon-only (click)="addpercent(folio)">
            <!-- here -->
            <ion-icon name="add"></ion-icon>
          </button>
          <span class="query-explanation"> </span>
        </h3>


      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card class="card-css">

    <div *ngIf="portfolios.foliotypes.length == 0" [hidden]="portfolios.foliotypes.length > 0"
      [ngStyle]="{'margin-top':'inherit', 'align-items': 'center', 'justify-content': 'center', 'text-align': 'center'}">

      <button [ngStyle]="{'background':'transparent'}">
        <ion-icon name="refresh" [ngStyle]="{'font-size': '50px'}"></ion-icon>
      </button>
      <p [ngStyle]="{'font-size': '15px'}">No Portfolios Found </p>
    </div>

   

  </ion-card>

  <ion-card class="card-css" [hidden]="portfolios.foliotypes.length == 0">

    <div class="div-input">

      <!-- {{offer.desc}} Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. -->
      <ion-input class="input-box" type="text" [(ngModel)]="title" name="text" readonly></ion-input>

      <ion-textarea class="textbox" type="string" placeholder="Enter Discription" [(ngModel)]="description" name="text">
      </ion-textarea>

    </div>






  </ion-card>

  <ion-card class="card-css">

    <button class="Syllabusclass" ion-button margin-top full (click)="SubmitFolio()">Submit/Update Portfolio</button>
  </ion-card>



</ion-content>
