<ion-header>



  <ion-navbar color="primary">
    <ion-title color="#fff">{{toUser.toUserId}}</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewctrl_dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<!-- Changes i want to see-->
<ion-content class="content">

  <div class="message-wrap">

    <div *ngFor="let msg of this.chatService.msgList; let index =index" class="message"
      [class.left]=" msg.userId === toUser.toUserId " [class.right]=" msg.userId === user.toUserId ">

      <div *ngIf="msg.time.seconds * 1000 && ( index == 0 ||  (msg.time.seconds * 1000 | date:'dd/MM/yyyy') 
        !=  (this.chatService.msgList[index-1].time.seconds * 1000 | date:'dd/MM/yyyy'))">
        <h3 class="search-query">{{  msg.time.seconds * 1000  | relativeTime }}
          {{ msg.time.seconds * 1000  | date:'dd/MM/yyyy'}}</h3>
      </div>

     

      <img class="user-img" [src]="msg.userAvatar" onError="this.src='../../assets/img/person.png';" alt="...">
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>


      <div class="msg-detail">
        <!--*ngIf="index == 0 ||  (msg.time  | date:'dd/MM/yyyy') !=  (this.chatService.msgList[index-1].time  | date:'dd/MM/yyyy')"-->

        <div class="msg-info" *ngIf="msg.time.seconds">

          <p>
            {{msg.userName}}</p>
          <!--&nbsp;&nbsp;&nbsp;{{ msg.time.seconds * 1000  | date:'dd/MM/yyyy(EEE) - hh:mmaaa'}}</p>
-->

        </div>
        <div class="msg-info" *ngIf="msg.time.seconds == null">



          <p [ngStyle]="{'font-size':'1.2em'}">
            {{msg.userName}} </p>
          <!--&nbsp;&nbsp;&nbsp;{{ msg.time  | date:'dd/MM/yyyy(EEE) - hh:mmaaa'}}</p>-->
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}} 
                              <span [ngStyle]="{'font-size':'0.75em','white-space':'nowrap'}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ msg.time.seconds * 1000   | date:'h:mm a'}}</span>

          </p>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer no-border [ngStyle]=" {'height': '55px'}">
  <div class="input-wrap">
    <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
      <ion-icon name="md-happy"></ion-icon>
    </button>
    <textarea #chat_input placeholder="Text Input" [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()"
      (focusin)="onFocus()">
    </textarea>
    <button ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>
  <!--  <emoji-picker [(ngModel)]="editorMsg"></emoji-picker> -->
</ion-footer>
