<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewctrl_dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>
      <strong> Chats ({{this.homeservice.user}}) </strong> 
    </ion-title>
    <ion-buttons end> 
    
<!--      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon> 
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button> -->

     <!-- <button ion-button tappable  (click)="createclassroom()" >
        <ion-icon name="add-circle"  class="button-add" ></ion-icon> 
      </button>
       --> 
       <!-- <button ion-button tappable class="chat-button" (click) = "chatpage()">
        <ion-icon name="chatbubbles"></ion-icon>
        <span class="button__badge">4</span>
       </button>
       -->
    </ion-buttons>
  </ion-navbar>
</ion-header>
 


<ion-content padding-top class="content">
  <ion-list [hidden]="this.friends.length == 0">
    <ion-item-sliding [ngStyle]="{'background':'transparent'}" #sliding *ngFor="let friend of friends ">
      <ion-item class="item-ion" (click)="goToChatRoom(friend)">
        <ion-avatar item-start>
          <img [src]="friend.userurl">
        </ion-avatar>
        <h2>{{ friend.id }} <span ion-text color="primary">({{ friend.user }})</span></h2>
      </ion-item>
   
    </ion-item-sliding>
  </ion-list>
  <div *ngIf = " this.friends.length == 0 "
    [ngStyle]="{'margin-top':'inherit', 'align-items': 'center', 'justify-content': 'center', 'text-align': 'center'}">

<button [ngStyle]="{'background':'transparent'}" (click)="findchats()">
    <ion-icon name="refresh" [ngStyle]="{'font-size': '50px'}"></ion-icon>
</button>
    <p [ngStyle]="{'font-size': '15px'}">No Parent Found </p>
  </div>


</ion-content>