
<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title> Course Syllabus </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewctrl_dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content class="content">
  <ion-card class="card-css">
    <ion-list [hidden] = "myquizes.questions.length == 0">
      <ion-item *ngFor="let p of myquizes.questions; let i=index" text-wrap (click)="toggleLevel1('idx'+i)"
        [ngClass]="{active: isLevel1Shown('idx'+i)}">

        <h2 [ngStyle]="{'color':'#4c6df9'}">
     


          {{p.value}}
          <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'">
          </ion-icon>
        </h2>
        <ion-list *ngIf="isLevel1Shown('idx'+i)">
          <ion-item *ngFor="let s of p.options; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)"
            [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">

<h2 [ngStyle]="{'color':'#4c6df9'}">
     
             {{s.option}}
</h2>
         <button ion-button margin-right clear item-end icon-only (click)="downaloadAndOpenfile(s.filename,s.fileurl, s.filetype)">
              <!-- here -->
              <ion-icon name="cloud-done"></ion-icon>
            </button>

          </ion-item>
        </ion-list>

      </ion-item>
    </ion-list>
  </ion-card>
    <ion-card class="card-css">

  <ion-input class="input-box" type="text" placeholder="Enter Quiz Name" name="text"  [(ngModel)]="myquizes.quizname"></ion-input> 

        <ion-textarea class="textbox" type="string" placeholder="Enter Discription" [(ngModel)]="myquizes.quizdescription"
          name="text"></ion-textarea> </ion-card>
  <!--{{att.label}}{{idx+1}}-->
  <!-- <ion-item *ngFor="let top of topics; let idxtopic = index">
    <ion-label color="primary">Topic</ion-label>
    <ion-input type="text" text-left [(ngModel)]="topics[idxtopic].value"></ion-input>
  
 
  <ion-item *ngFor="let att of anArray; let idx = index">
    
    <ion-label color="primary">SubTopic {{topics[idxtopic].value}}</ion-label>
    <ion-input type="text" text-left [(ngModel)]="anArray[idx].value"></ion-input>
     <button ion-button icon-only block  >
          <ion-icon name="delete"></ion-icon>
        </button>
  </ion-item>
  </ion-item>
-->
  <ion-card class="card-css">

    <ng-template ngFor let-quest [ngForOf]="myquizes.questions" let-chap="index">
      <ion-item>
         <button class="btnfile" margin-right ion-button clear item-end icon-only>

      </button>
      -
        <button ion-button clear margin-right item-end icon-only>
          <!-- here -->
          <ion-icon name="trash"></ion-icon>
        </button>


        <!--  <ion-label color="primary">Chapter</ion-label> -->
        <ion-input type="text" placeholder="Enter Question" text-left [(ngModel)]="quest.question"></ion-input>


      </ion-item>


      <ng-template ngFor let-opt [ngForOf]="quest.options" let-top="index">
        <ion-item>
          <!--   <ion-label color="primary">Topic ({{chapter.value}})</ion-label> -->
          <ion-input type="text" placeholder="Enter Topic of {{quest.question}}" text-left [(ngModel)]="opt.option">
          </ion-input>

          <button ion-button clear margin-right item-end icon-only (click)="openfile_topic(chap,top)">
            <!-- here -->
            <ion-icon name="document"></ion-icon>
          </button>

          <button ion-button clear margin-right item-end icon-only>
            <!-- here -->
            <ion-icon name="trash"></ion-icon>
          </button>


        </ion-item>
       

      </ng-template>
    </ng-template>
  </ion-card>
  <ion-card class="card-css">
<!--
    <button ion-button margin-left (click)="addChapter()">Chapters</button>
    <button ion-button (click)="addTopics()">Topics</button>
    <button ion-button (click)="addSubtopic()">SubTopics</button>
-->
    <div class="divclass">
      <span ion-text margin-left color="secondary" tappable (click)="addChapter()"><strong>Add Question</strong></span>

      <span ion-text margin-left color="secondary" tappable (click)="addTopics()"><strong>Add Options</strong></span>

<!--      <span ion-text margin-left color="secondary" tappable (click)="addSubtopic()"><strong>SubTopics</strong></span> -->

    </div>

    <button class="Syllabusclass" ion-button margin-top full (click)="addSyllabus()">Add Syllabus </button>
  </ion-card>


  <!-- <ion-card *ngIf="data">
 <ion-item *ngFor="let att of anArray;">
   <div class="card-title">{{att.value}}</div>
 </ion-item>
</ion-card> -->

</ion-content>
