<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title> Course Syllabus </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewctrl_dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="content">
    <ion-card class="card-css">
      <ion-list [hidden]="myquizes.questions.length == 0">
        <ion-item *ngFor="let p of myquizes.questions; let i=index" text-wrap (click)="toggleLevel1('idx'+i)"
          [ngClass]="{active: isLevel1Shown('idx'+i)}">

          <h2 [ngStyle]="{'color':'#4c6df9'}">



            {{p.question}}
            <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'">
            </ion-icon>
          </h2>
          <ion-list *ngIf="isLevel1Shown('idx'+i)">
            <ion-item *ngFor="let s of p.options; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)"
              [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">

              <h2 [ngStyle]="{'color':'#4c6df9'}">

                {{s.option}}
              </h2>
              <button ion-button margin-right clear item-end icon-only
                (click)="downaloadAndOpenfile(s.filename,s.fileurl, s.filetype)">
                <!-- here -->
                <ion-icon name="cloud-done"></ion-icon>
              </button>

            </ion-item>
          </ion-list>

        </ion-item>
      </ion-list>
    </ion-card>
    <!-- <ion-card class="card-css">

    <ion-input class="input-box" type="text" placeholder="Enter Quiz Name" name="text" [(ngModel)]="myquizes.quizname">
    </ion-input>

    <ion-textarea class="textbox" type="string" placeholder="Enter Discription" [(ngModel)]="myquizes.quizdescription"
      name="text"></ion-textarea>
  </ion-card>
-->


    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-input type="text" placeholder="Quiz Name" [(ngModel)]="myquizes.quizname"
             ></ion-input>
            <!--               <ion-icon name="person" item-end no-margin></ion-icon> -->
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-input placeholder="Quiz Description" type="text" [(ngModel)]="myquizes.quizdescription"> </ion-input>
        
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item no-padding>
            <ion-label class="lablemargin">Quiz Date</ion-label>

            <ion-datetime display-format="MM/YYYY" picker-format="MMMM YYYY" [(ngModel)]="mydate"
              (ionChange)="setDate()" (ionCancel)="cleardate()" yearValues="2019"></ion-datetime>

          </ion-item>
        </ion-col>
      </ion-row>

      <!-- colors -->
      <ion-row>
        <ion-col col-6>
          <ion-item no-padding>
            <ion-select placeholder="COLOR" class="max-width full-width">
              <div *ngFor="let color of quizcolor">
                <ion-option (ionSelect)="colorselected(color.code)" value="{{color.value}}" class="div-ion">
                  {{color.value}}
                </ion-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <!--<ion-item no-padding>-->
          <div class="box" [style.background-color]="mycolor"></div>

          <!-- </ion-item> -->
        </ion-col>
        <ion-col col-4>
          <ion-item no-padding>
            <ion-select placeholder="Type" class="max-width full-width">
              <div *ngFor="let type of quiztype">
                <ion-option (ionSelect)="typeselected(type)" value="{{type}}" class="div-ion"> {{type}}

                </ion-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <div *ngIf="myquizes.quiztype == 'hard'">
        <ion-row>
          <ion-col col-8>
            <ion-item no-padding>
              <!-- <ion-label class="lablemargin">Quiz Time Taken</ion-label>
                <ion-datetime displayFormat="mm:ss" [(ngModel)]="quiztime" (ionChange)="setQuiztime(quiztime)">
                </ion-datetime> -->
              <ion-label class="lablemargin">Quiz Time</ion-label>

              <ion-datetime displayFormat="hh:mm:ss" hourValues="00" [(ngModel)]="quiztime"
                (ionChange)="setQuiztime(quiztime)" (ionCancel)="cleartime()">{{quiztime}}</ion-datetime>

           <!--   <div *ngIf="!this.myquiz.quizdata" class="error">
                Please enter a valid date.
              </div>
-->
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

    </ion-grid>



    <ion-card class="card-css">

      <ng-template ngFor let-quest [ngForOf]="myquizes.questions" let-chap="index">
        <ion-item>
          <button class="btnfile" margin-right ion-button clear item-end icon-only>

          </button>
          
          <button ion-button clear margin-right item-end icon-only (click)="delete_question(chap)">
            <!-- here -->
            <ion-icon name="trash"></ion-icon>
          </button>


          <!--  <ion-label color="primary">Chapter</ion-label> -->
          <ion-input type="text" placeholder="Enter Question" text-left [(ngModel)]="quest.question"></ion-input>


        </ion-item>


        <ng-template ngFor let-opt [ngForOf]="quest.options" let-top="index">
          <ion-item>
            <!--   <ion-label color="primary">Topic ({{chapter.value}})</ion-label> -->
            <ion-input type="text" placeholder="Enter Topic of {{quest.question}}" text-left [(ngModel)]="opt.option">
            </ion-input>

            <button ion-button clear item-end icon-only (click)="option_box(chap,top)">
              <!-- here -->
              <ion-checkbox slot="end" [(ngModel)]="opt.isanswer"></ion-checkbox>
            </button>

            <button ion-button clear margin-right item-end icon-only (click)="delete_option(chap,top)">
              <!-- here -->
              <ion-icon name="trash"></ion-icon>
            </button>


          </ion-item>


        </ng-template>
      </ng-template>
    </ion-card>
    <ion-card class="card-css">

      <div class="divclass">
        <h3 class="search-query">
          <span tappable (click)="addQuestion()">
            <ion-badge class="query-tag"> Add Question </ion-badge>
          </span>

          <span margin-left tappable (click)="addOption()">
            <ion-badge class="query-tag"> Add Options </ion-badge>
          </span>

        </h3>


      </div>
      <!--<div *ngIf="quizform.controls.quizname.valid">
   -->
      <button class="Syllabusclass" ion-button margin-top full (click)="addQuiz()">Add Quiz </button>

    </ion-card>




</ion-content>
