page-create-quiz {
  .error {
    color: rgb(223, 62, 62);
    font-size: 1.2em;
  }

  .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
  }
  .content{
    background: url("../assets/img/bg.jpg") no-repeat;
  }
    ion-buttons button[icon-only].my-style-for-modal {
        margin: 0 6px;
        min-width: 36px;
     }
     .div-ion{
      color: $theme-color-3;
     }
     .search-query
	{
		font-size: 1.4rem;
		margin: 5px;
		margin-bottom: 30px;
		color: $theme-color-3;
		text-align: center;

		.query-tag
		{
			border: 1px solid $theme-color-2;
			color: $theme-color-2;
      background: #FFF;
      font-size: 1.2em;
		}
    .card-css{
      border-radius: 1.2em;
      margin-top: 5%;
      box-shadow: solid thin lightblue;
      background: transparent;
  }
		.query-explanation
		{
			font-weight: 300;
		}
  }
     .checkout-trip {

        .trip-info {
          .trip-image {
            width: 100%;
            height: 120px;
            background-size: 100% auto;
            background-position: center;
            border-radius: 1rem 1rem 0 0;
          }
      
          .trip-features {
            ion-icon {
              min-width: 1.5rem;
              text-align: center;
            }
          }
        }
 
        .item.no-border .item-inner {
          padding-right: 0;
          [item-end] {
            margin: 0;
          }
        }
    }
    .Syllabusclass{
      width: 90%;
      margin-left: 5%;


  }
  .box{
    margin-top: 5%;
    width:25px;
    height:25px;
  }
.lablemargin{
  margin-left: 10px;
}
}
