<!-- <ion-header>



  <ion-navbar color="primary">
    <ion-title color="#fff">Course Saylabus</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewctrl_dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list *ngFor="let highlight of highlights">

    <ion-item-sliding>
      <ion-item>{{highlight}} ({{highlight}})
       
      </ion-item>

      <ion-item-options>
        <button margin-right (click)="showEditModal(highlight)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button danger margin-right (click)="doConfirm(highlight)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>
</ion-content>
-->
<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title> Course Syllabus </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewctrl_dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content class="content">
  <ion-card class="card-css" [hidden]="this.courseservice.allcourses.length == 0">
    <ion-list *ngFor="let ch of this.courseservice.allcourses; let courseindex=index">
      <ion-item *ngFor="let p of ch.Chapters; let i=index" text-wrap (click)="toggleLevel1(courseindex)"
        [ngClass]="{active: isLevel1Shown(courseindex)}">

        <h2 [ngStyle]="{'color':'#4c6df9'}">


          <h3 class="search-query">
            <span></span>
            <ion-badge class="query-tag"> {{p.value}} </ion-badge>
            <span class="query-explanation"> </span>
            <ion-icon color="success" [ngStyle]="{'color':'#4c6df9', 'margin-left':'15px'}" item-right
              [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'">
            </ion-icon>
            <div [ngStyle]="{'display':'inline'}" *ngIf="this.homeservice.user == 'teachers'">
              <button ion-button margin-right clear item-end icon-only (click)="deletechap(courseindex,i)">
                <!-- here -->
                <ion-icon name="trash"></ion-icon>
              </button>
            </div>
          </h3>



        </h2>
        <ion-list *ngIf="isLevel1Shown(courseindex)">
          <ion-item *ngFor="let s of p.Topics; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)"
            [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">



            <h3 class="search-query">
              <span></span>
              <ion-badge class="query-tag"> {{s.value}} </ion-badge>
              <span class="query-explanation"> </span>
            </h3>
            <div [ngStyle]="{'display':'inline', 'margin':'0px'}" item-end *ngIf="this.homeservice.user == 'teachers'">

              <button ion-button clear item-end icon-only
                (click)="deletetopic(courseindex,i, i2);$event.stopPropagation()">
                <!-- here -->
                <ion-icon name="trash"></ion-icon>
              </button>
            </div>

            <button ion-button margin-right clear item-end icon-only
              (click)="Quiz(ch.creationdate,s.value);$event.stopPropagation()">
              <!-- here -->
              <ion-icon name="clipboard"></ion-icon>
            </button>

            <button ion-button clear item-end icon-only
              (click)="downaloadAndOpenfile(s.filename, s.fileurl, s.filetype);$event.stopPropagation()">
              <!-- here -->
              <ion-icon name="cloud-done" [ngStyle]="{'color':  s.filename ? '#4c6df9' : '#f53d3d'  }"></ion-icon>
            </button>




            <!--
            <ion-icon color="success" item-right
              [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>



         <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
              <ion-item *ngFor="let m of s.subtopics" text-wrap>
                {{m.value}}
                <button margin-top ion-button clear item-end icon-only (click)="downaloadAndOpenfile(m.fileurl, m.filetype)">
                  <ion-icon name="cloud-done"></ion-icon>
                </button>
              </ion-item>
            </ion-list>

-->
          </ion-item>
        </ion-list>

      </ion-item>
    </ion-list>
  </ion-card>
  <!-- <ion-input class="input-box" type="text" placeholder="Enter Chapter Name" name="text"></ion-input> -->
  <!-- <ion-input class="input-box" type="text" placeholder="Enter Topic Name" name="text"></ion-input> -->

  <!--{{att.label}}{{idx+1}}-->
  <!-- <ion-item *ngFor="let top of topics; let idxtopic = index">
    <ion-label color="primary">Topic</ion-label>
    <ion-input type="text" text-left [(ngModel)]="topics[idxtopic].value"></ion-input>
  
 
  <ion-item *ngFor="let att of anArray; let idx = index">
    
    <ion-label color="primary">SubTopic {{topics[idxtopic].value}}</ion-label>
    <ion-input type="text" text-left [(ngModel)]="anArray[idx].value"></ion-input>
     <button ion-button icon-only block  >
          <ion-icon name="delete"></ion-icon>
        </button>
  </ion-item>
  </ion-item>
-->
  <!--
  <ion-card class="card-css">
    <ng-template ngFor let-chapter [ngForOf]="mycourses.Chapters" let-chap="index">
      <ion-item>
         <button class="btnfile" margin-right ion-button clear item-end icon-only>

      </button>
      -
        <button ion-button clear margin-right item-end icon-only>
    
          <ion-icon name="trash"></ion-icon>
        </button>


        <ion-input type="text" placeholder="Enter Chapter" text-left [(ngModel)]="chapter.value"></ion-input>


      </ion-item>


      <ng-template ngFor let-topic [ngForOf]="chapter.Topics" let-top="index">
        <ion-item>
          <ion-input type="text" placeholder="Enter Topic of {{chapter.value}}" text-left [(ngModel)]="topic.value">
          </ion-input>

          <button ion-button clear margin-right item-end icon-only (click)="openfile_topic(chap,top)">
            
            <ion-icon name="document"></ion-icon>
          </button>

          <button ion-button clear margin-right item-end icon-only>
            <ion-icon name="trash"></ion-icon>
          </button>


        </ion-item>
        <ion-list>
          <ng-template ngFor let-subtopics [ngForOf]="topic.subtopics" let-i="index">

            <ion-item>
              <ion-input type="text" placeholder="Enter Subtopic of {{topic.value}}" text-left
                [(ngModel)]="subtopics.value"></ion-input>

              <button class="btnfile" margin-right ion-button clear item-end icon-only
                (click)="openfile_subtopic(chap,top,i)">
                <ion-icon name="document"></ion-icon>
              </button>
              <button ion-button margin-right clear item-end icon-only (click)="removefile_subtopic(chap,top,i)">
                <ion-icon name="trash"></ion-icon>
              </button>


            </ion-item>

          </ng-template>
        </ion-list>


      </ng-template>
    </ng-template>
  </ion-card>
  <ion-card class="card-css">
  -->
  <!--
    <button ion-button margin-left (click)="addChapter()">Chapters</button>
    <button ion-button (click)="addTopics()">Topics</button>
    <button ion-button (click)="addSubtopic()">SubTopics</button>
-->
  <ion-card class="card-css" [hidden]=" this.courseservice.allcourses.length > 0">
    <!-- <div *ngIf = " this.courseservice.allcourses.length == 0 ">
<p>
No course Syllabus are added
</p>
</div> -->
    <div *ngIf=" this.courseservice.allcourses.length == 0 "
      [ngStyle]="{'margin-top':'inherit', 'align-items': 'center', 'justify-content': 'center', 'text-align': 'center'}">

      <button [ngStyle]="{'background':'transparent'}" (click)="findcourses()">
        <ion-icon name="refresh" [ngStyle]="{'font-size': '50px'}"></ion-icon>
      </button>
      <p [ngStyle]="{'font-size': '15px'}">No course Syllabus are added</p>
    </div>

  </ion-card>
  <!--    <div class="divclass">
      <span ion-text margin-left color="secondary" tappable (click)="addChapter()"><strong>Chapters</strong></span>

      <span ion-text margin-left color="secondary" tappable (click)="addTopics()"><strong>Topics</strong></span>

      <span ion-text margin-left color="secondary" tappable (click)="addSubtopic()"><strong>SubTopics</strong></span>

    </div>

    <button class="Syllabusclass" ion-button margin-top full (click)="downaloadAndOpenfile()">Add Syllabus </button>
  </ion-card>
-->

  <!-- <ion-card *ngIf="data">
 <ion-item *ngFor="let att of anArray;">
   <div class="card-title">{{att.value}}</div>
 </ion-item>
</ion-card> -->

</ion-content>
