<ion-header class="bar-stable">
  <h1 class="title"></h1>
</ion-header>
<ion-content ng-controller="ProfileCtrl">
  <div *ngIf= "studentprofile!=null || studentprofile !=undefined" >
    <div class="profile-picture big-profile-picture">
      <img [src]="studentprofile.userurl">
    </div>
    <h2 class="profile-name dark">{{studentprofile.name}} </h2>
    <h2 class="profile-name dark">{{studentprofile.parentemail}} (parent)</h2>


    <button ion-button icon-start block color="dark" tappable (click)="updatestudent()">
      <ion-icon name="log-in"></ion-icon>
      Update Student
    </button>

  </div>
  <div *ngIf = "studentprofile==undefined" >
  Your child info is not added, try to add it in menu option
  </div>
</ion-content>
