<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title> Student Detail </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewctrl_dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content">

<ion-card class = "card-css">
<div class="marks" *ngIf="this.homeservice.user == 'teachers' || this.homeservice.useremail ==  this.studentprofile.parentemail ">
    <button ion-button class="pull-right" color="secondary" tappable (click)="quiz_marks()">
      <ion-icon name="medal"></ion-icon>
    </button>
      <button ion-button class="pull-left" color="secondary" tappable (click)="student_folio()">
      <ion-icon name="trophy"></ion-icon>
    </button>
  </div>
  
  <div margin-top *ngIf= "studentprofile!=null || studentprofile !=undefined" >
    <div margin-top class="profile-picture big-profile-picture">
      <img [src]="studentprofile.userurl" onError="this.src='../../assets/img/person.png';"  alt="...">
    </div>
   <!-- <h2 class="profile-name dark">{{studentprofile.name}} </h2>
    <h2 class="profile-name dark">{{studentprofile.parentemail}} (parent)</h2>
    -->
<h3 class="search-query">
    <span> Student Name:  </span>
    <ion-badge class="query-tag"> {{studentprofile.name}}</ion-badge>
    <span class="query-explanation"> </span>
  </h3>

<h3 class="search-query">
    <span> Parent Name: </span>
    <ion-badge class="query-tag"> {{studentprofile.parentemail}} </ion-badge>
    <span class="query-explanation"> </span>
  </h3>
<h3 class="search-query">
    <span> Student Class: </span>
    <ion-badge class="query-tag"> {{studentprofile.classname}} </ion-badge>
    <span class="query-explanation"> </span>
  </h3>

<h3 class="search-query">
    <span> Class Teacher: </span>
    <ion-badge class="query-tag"> {{studentprofile.classteacher}} </ion-badge>
    <span class="query-explanation"> </span>
  </h3>
  <div *ngIf="this.homeservice.user =='teachers'">
    <button ion-button icon-start block color="dark" class="Updatebtn" tappable (click)="updatestudent()">
      <ion-icon name="log-in"></ion-icon>
      Update Student
    </button>
  </div>
  </div>
<!--  <div *ngIf = "studentprofile==undefined" >
  Your child info is not added, try to add it in menu option
  </div>
-->
    <div *ngIf = "!studentprofile">
    <h3 class="search-query">
    <span> Your child info is not added, try to add it in menu option</span>
    <ion-badge class="query-tag"> MENU OPTION</ion-badge>
    <span class="query-explanation"> </span>
  </h3>
  </div>
</ion-card>
  
</ion-content>
