

<ion-header>
  <ion-toolbar>
      <ion-searchbar placeholder="Search Post" color="primary" [(ngModel)]="searchText" [showCancelButton]="true" (ionCancel)="dismiss()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
 <!-- <ion-list *ngIf="autocompleteItems != null">-->
      <!-- <ion-item *ngFor="let item of this.searchservice.feedtitles | searchpost : searchText" tappable (click)="chooseItem(item)">
          {{ item }}
      </ion-item> -->
      <ul>
          <li  [ngStyle]="{'border': 'solid thin lightblue',
          'font-size': '1.6em',     'margin-bottom': 'inherit',
          'padding-bottom': '2%'}" *ngFor="let item of this.searchservice.feedtitles | searchpost : searchText" tappable (click)="chooseItem(item)">
            {{item}}
          </li>
        </ul>

 
</ion-content>
