
<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title>
      <span>Updating  {{quiz.quizname}}</span>
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-card class="card-css">
      <form  [formGroup]="loginform">
      <ion-item>
        <button class="btnfile" margin-right ion-button clear item-end icon-only>

        </button>
        
        <button ion-button clear margin-right item-end icon-only (click)="delete_question()">
          <!-- here -->
          <ion-icon name="md-close"></ion-icon>
        </button>


        <!--  <ion-label color="primary">Chapter</ion-label> -->
        <ion-input type="text" placeholder="Enter Question" text-left [(ngModel)]="question"
          [formControl]="loginform.controls['questionadded']" ></ion-input>


      </ion-item>
    </form>


        <ion-item *ngFor="let opt of options;  let top=index ">
          <!--   <ion-label color="primary">Topic ({{chapter.value}})</ion-label> -->
          <ion-input type="text" placeholder="Add option" [(ngModel)]="opt.option" text-left >
          </ion-input>

          <button ion-button clear item-end icon-only (click)="select_option(top)">
            <!-- here -->
            <ion-checkbox  [(ngModel)]="opt.isanswer" ></ion-checkbox>
          </button>
        
          <button ion-button clear margin-right item-end icon-only (click)="delete_option(top)">
            <!-- here -->
            <ion-icon name="trash"></ion-icon>
          </button>

          <button ion-button clear margin-right item-end icon-only >
             
            <div *ngIf="!opt.option">
              <ion-icon [ngStyle]="{'color':  opt.option ? '#4c6df9' : '#f53d3d'}" name="md-close" showWhen="android, windows"></ion-icon>
          
              <!--    <i  [ngClass]="Email.invalid ? 'fas fa-times' : 'fas fa-check'  "  class="fas fa-check" [ngStyle]="{'color':Email.invalid ? '#dc3545' : '#56baed'}"></i>
          -->
            </div>
           <!-- <div *ngIf="opt.option">
                <ion-icon [ngStyle]="{'color': '#4c6df9'}" name="checkmark" showWhen="android, windows"></ion-icon>
            
              </div>
              -->
            </button>
          


        </ion-item>

  </ion-card>

  <ion-card class="card-css">

    <div class="divclass" [ngStyle]="{'padding-top':'10%'}">
      <h3 class="search-query">
   
        <span margin-left tappable (click)="addOption()">
          <ion-badge class="query-tag"> Add Options </ion-badge>
        </span>
  
      </h3>
  
  
    </div>
   
    <button class="Syllabusclass" ion-button margin-top full (click)="addQuiz()">Add Quiz </button>
  
  </ion-card>
  
</ion-content>

