<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewctrl_dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span>Learn By Taking Quiz!</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="chatbox">
    <button ion-button class="pull-right" color="secondary" tappable (click)="create_quiz()">
      <ion-icon name="clipboard"></ion-icon>
    </button>
  </div>

  <h3 class="search-query">
    <span>Showing: </span>
    <ion-badge class="query-tag">{{ quizinfo.topicname }}</ion-badge>
    <span class="query-explanation"> concepts</span>
  </h3>

  <ion-card class="category-concept-card" [style.background-color]="Quiz.background"
    *ngFor="let Quiz of  quizservice.myquizes" (click)="openDetails(Quiz)">
    <ion-card-header>

      <ion-row>
        <ion-col no-padding col-8>
          <h2 class="category-title">{{ Quiz.quizname }} </h2>
        </ion-col>
        <ion-col no-padding col-4>
        
<div *ngIf="Quiz.available" [ngStyle]="{'text-align':'right'}">
          <ion-badge class="query-tag">READY</ion-badge>
          </div>
        </ion-col>
      </ion-row>
      


    </ion-card-header>
    <ion-card-content>
      <p class="category-description">
        {{ Quiz.quizdescription }}
      </p>

      <ion-row>
        <ion-col no-padding>
          <ion-badge class="category-tag" item-right>
            {{Quiz.quiztype }}</ion-badge>
        </ion-col>
        <ion-col no-padding col-2>
          <button class="delete-button" color="danger" ion-button clear medium
            (click)="delete_quiz(Quiz);$event.stopPropagation()">
            <ion-icon name="ios-trash-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>



  <div *ngIf="quizservice.myquizes.length == 0">
    <h3 class="search-query">
      <span>No Quiz Found under Topic </span>
      <ion-badge class="query-tag">{{ quizinfo.topicname }}</ion-badge>
      <span class="query-explanation"> </span>
    </h3>
  </div>
</ion-content>
