<!--
  Generated template for the ProfileEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewctrl_dismiss()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title> Edit Student Profile </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">


  <ion-toolbar class="user-profile" [hidden]="studentprofile == undefined">

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <!-- <div class="user-avatar">
              <img src="../assets/img/logo.png">
            </div>
            -->
          <div class="container" *ngIf="this.base64Image">
            <img [src]="this.base64Image" class="image">
            <div class="overlay">
              <a clear small color="light" padding-bottom class="icon-href" title="change image"
                (click)="changeimage()">
                <ion-icon name="camera"></ion-icon>
              </a>
            </div>
          </div>

          <div *ngIf="!this.base64Image" class="container">
            <img src="../assets/img/logo.png" class="image">

            <div class="overlay">
              <a clear small color="light" padding-bottom class="icon-href" title="change image"
                (click)="changeimage()">
                <ion-icon name="camera"></ion-icon>
              </a>
            </div>
          </div>
        </ion-col>
        <ion-col padding-top col-8>
          <h2 ion-text class="no-margin bold text-white">
            StudentName: {{studentprofile.name}}
          </h2>
          <span ion-text color="light">
            
            <ion-item class="item-ion" [hidden]="!studentprofile.parentemail">
              <ion-avatar item-start>
                <img [src]="selectedparent.imgurl">
              </ion-avatar>
              <h2>{{ selectedparent.username }} (parent)</h2>
            </ion-item>
          </span>
        </ion-col>


      </ion-row>



    </ion-grid>

  </ion-toolbar>

  <ion-toolbar class="user-profile">
    <ion-card>

      <div class="div-input">

        <ion-input class="input-box" type="text" placeholder="Enter Student Name" [(ngModel)]="studentprofile.name" name="text">
        </ion-input>

        <button ion-button icon-only block class="submitbtn" (click)="updatestudent()">
          Add Student
        </button>
      </div>
      <ion-list>

        <ion-item-sliding #sliding *ngFor="let parent of this.profileservice.allparents"
          [hidden]="this.user == 'parent'">
          <ion-item class="item-ion" (click)="parentprofile(parent)">
            <ion-avatar item-start>
              <img [src]="parent.imgurl">
            </ion-avatar>
            <h2>{{ parent.useremail }} <span ion-text color="primary">({{ parent.user }})</span></h2>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary">
              <ion-icon name="person"></ion-icon>
              Profile
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </ion-toolbar>



</ion-content>
