page-student-profile{

    ion-buttons button[icon-only].my-style-for-modal {
      margin: 0 6px;
      min-width: 36px;
   }
   
   .scroll-content {
    overflow-y: hidden;
  }
      .content{
          background: url("../assets/img/bg.jpg") no-repeat; 
      }
     
      .user-profile {
          border-radius: 1.2em; 
          .container {
              position: relative;
              width: 100%;
              display: inline-block;
              border-radius: 50%;
               }
            
            .image {
              
              height: 100%;
              width: 100%;
              align-items: center;
              border-radius: 50%;
            }
            .overlay {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 20%;
              width: 20%;
              opacity: 0;
              transition: .3s ease;
              background-color: transparent;
               top: 0%;
              left: 80%
            }
            
            .container:hover .overlay {
              opacity: 1;
            }
            
            .icon-href {
              color: gray;
              font-size: 20px;
              position: absolute;
              top: 270%;
              right: 155%;
              transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              text-align: center;
              box-shadow: 2.0em;
            }
          .user-avatar {
            width: 100%;
            height: 100%;
            display: inline-block;
            border-radius: 50%;
          //  box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
            
            img {
              height: 100%;
              width: 100%;
              align-items: center;
              border-radius: 50%;
            }
          }
          .toolbar-background {
            
          //  background-image: linear-gradient(135deg, color($colors, primary), color($colors, primary));
          }
        
          .other-data {
            .column {
              &:first-child {
                border-right: 1px solid rgba(170, 178, 238, 0.25);
              }
            }
          }
        }
  
        .user-toolbar {
          .user-avatar {
            width: 100%;
            height: 100%;
            display: inline-block;
            border-radius: 50%;
          //  box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
            
            img {
              height: 100%;
              width: 100%;
              align-items: center;
              border-radius: 50%;
            }
          }
          .toolbar-background {
            
          //  background-image: linear-gradient(135deg, color($colors, primary), color($colors, primary));
          }
        
          .other-data {
            .column {
              &:first-child {
                border-right: 1px solid rgba(170, 178, 238, 0.25);
              }
            }
          }
        }
        .div-input{
          padding: 13px 16px 13px 16px;
             
     
              textarea{
                  color: black;
                  height: 160px;
                  font-size: 1.5em;
                  border-bottom: thin solid antiquewhite;
              }
          .picturebtn{
              padding-left: 20%;
              font-size: 2.2em;
              color: lightblue;
              background-color:transparent 
          }
          .videobtn{
              padding-left: 50%;
              font-size: 2.2em;
              color: lightblue;
              background-color:transparent
          }
          .input-box{
              color: black;
              height: 50px;
              font-size: 1.5em;
              border-bottom: thin solid antiquewhite;
          }
              p{
                  color: black;
                  height: 160px;
                  font-size: 1.5em;
                  
              }
              a{
                  border-bottom: thin solid antiquewhite;
                  width: 100%;
                  display: inline-block
              }
              .submitbtn{
                  margin-top: 5%;
                  width: 100%;
                //  margin-left: 20% 
              }
      }
  .item-ion{
    margin-bottom: 1%;
    border: solid thin gray;
    border-radius: 1.2em;
    background: transparent;
  }
  
}